@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

/* Styles in order of appearance */

h1 {
  font-family: 'Patua One', cursive;
  font-weight: 50;
  font-size: calc(4em + 6vmin);
  color: white;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Patua One', cursive;
}

p3 {
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  min-height: 6vh;
}

i {
  color:#FFFFFF;
  padding-left: 1em;
}

#section02 a {
  background-color: #5a97fa;
}

.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

.demo a:hover {
  opacity: .5;
}

.App-header {
  background-color: #5a97fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #000000;
  min-height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#part_with_intro {
  background-color: #5a97fa;
  font-family: 'Permanent Marker', cursive;
  color: white;
  text-align: center;
}

#section02 a {
  padding-top: 70px;
  font-family: Racing Sans, cursive;
  text-align: center;
  background-color: #5a97fa;
}

#section02 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 0.5s infinite;
  animation: sdb05 0.5s infinite;
  box-sizing: border-box;
  
}

@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
